label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 5px;
}

.electionselect {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 20%;
}

.electoralsystemselect {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 30%;
}

.progressbar {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bg-constituencyseats {
  background-color: #e06000!important;
}

.bg-proportionalseats {
  background-color: #046daa!important;
}

img {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 20px;
  vertical-align: middle;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 1px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.textonlycell {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 6px;
}

.editablecell {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
}

.header-party {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: #101010;
  color: white;
}

.header-proportionalvotepercentage {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}

.header-constituencyseats {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: #e06000;
  color: white;
}

.header-proportionalseats {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: #046daa;
  color: white;
}

.header-totalseats {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: #f0f000;
  color: black;
}

.header-overhangseats {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: red;
  color: black;
}
