.outter {
  width: 100%;
  margin: auto;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.electionselect {
  font-family: Arial, Helvetica, sans-serif;
  width: 20%;
  min-width: 320px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 10px;
}

.electoralsystemselect {
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  min-width: 480px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 10px;
}

.progressbartop {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
}

.progressbarmiddle {
  width: 60%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
}

.progressbarbottom {
  width: 60%;
  margin-top: 2px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.progress {
  height: 16px!important;
  font-size: 0.8rem!important;
  background-color: transparent!important;
  border-radius: 0.6rem!important;
}

.bg-constituencyseats {
  background-color: #e06000!important;
}

.bg-proportionalseats {
  background-color: #046daa!important;
}

.bg-totalseats {
  color: black!important;
  background-color: #ffff00!important;
}

.bg-originalseats {
  background-color: #04aa6d!important;
}

.bg-overhangseats {
  background-color: red!important;
}

img {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 40px;
  vertical-align: middle;
}

.tablewrap {
  display: block;
  max-width: 100%;
  overflow-y: hidden;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  min-width: 1200px;
  margin: auto;
  background-color: white;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 1px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.textonlycell {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  margin: 6px;
}

.editablecell {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: transparent;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.header-party {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: #101010;
  color: white;
}

.header-proportionalvotepercentage {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  width: 12%;
  background-color: #04aa6d;
  color: white;
}

.header-constituencyseats {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  width: 12%;
  background-color: #e06000;
  color: white;
}

.header-proportionalseats {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  width: 12%;
  background-color: #046daa;
  color: white;
}

.header-totalseats {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  width: 12%;
  background-color: #ffff00;
  color: black;
}

.header-overhangseats {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: red;
  color: white;
}
